<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Icons -->
    <link rel="stylesheet" href="../css/all.min.css" />
    <!-- Normalize File  -->
    <link rel="stylesheet" href="../css/normalize.css" />
    <!-- Css Master File -->
    <link rel="stylesheet" href="../css/master.css" />
    <title>Products</title>
  </head>
  <body>
    <!-- Start header -->
    <header>
      <div class="container">
        <a href="../index.html">
          <img src="../images/logo.png" alt="Logo" class="logo" />
        </a>
        <nav>
          <ul>
            <li><a href="#Home">Home</a></li>
            <li><a href="page-1.html">Products</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Contact">Contact</a></li>
            <li><a href="#Account">Account</a></li>
            <li>
              <a href="#"><img src="../images/cart.png" alt="" /></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- End header -->

    <!-- Start Featured Products -->
    <div class="Featured-Products">
      <div class="head">
        <span>All Product</span>
        <select>
          <option>Default Shorting</option>
          <option>categories-1</option>
          <option>categories-2</option>
          <option>categories-3</option>
          <option>categories-4</option>
          <option>categories-5</option>
          <option>categories-6</option>
        </select>
      </div>
      <div class="container">
        <!-- Products -->

        <div class="card">
          <a href="product.html">
            <img src="../images/product-1.jpg" alt="product" />
          </a>
          <h3>Red Printed T-Shirt</h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span>$43</span>
        </div>
        <div class="card">
          <a href="#">
            <img src="../images/product-2.jpg" alt="product" />
          </a>
          <h3>Red Printed T-Shirt</h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span>$43</span>
        </div>
        <div class="card">
          <a href="#">
            <img src="../images/product-3.jpg" alt="product" />
          </a>
          <h3>Red Printed T-Shirt</h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span>$43</span>
        </div>
        <div class="card">
          <a href="#">
            <img src="../images/product-4.jpg" alt="product" />
          </a>
          <h3>Red Printed T-Shirt</h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span>$43</span>
        </div>

        <div class="card">
          <a href="#">
            <img src="../images/product-5.jpg" alt="product" />
          </a>
          <h3>Red Printed T-Shirt</h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span>$43</span>
        </div>
        <div class="card">
          <a href="#">
            <img src="../images/product-6.jpg" alt="product" />
          </a>
          <h3>Red Printed T-Shirt</h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span>$43</span>
        </div>
        <div class="card">
          <a href="#">
            <img src="../images/product-7.jpg" alt="product" />
          </a>
          <h3>Red Printed T-Shirt</h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span>$43</span>
        </div>
        <div class="card">
          <a href="#">
            <img src="../images/product-8.jpg" alt="product" />
          </a>
          <h3>Red Printed T-Shirt</h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span>$43</span>
        </div>
        <div class="card">
          <a href="#">
            <img src="../images/product-9.jpg" alt="product" />
          </a>
          <h3>Red Printed T-Shirt</h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span>$43</span>
        </div>
        <div class="card">
          <a href="#">
            <img src="../images/product-10.jpg" alt="product" />
          </a>
          <h3>Red Printed T-Shirt</h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span>$43</span>
        </div>
        <div class="card">
          <a href="#">
            <img src="../images/product-11.jpg" alt="product" />
          </a>
          <h3>Red Printed T-Shirt</h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span>$43</span>
        </div>
        <div class="card">
          <a href="#">
            <img src="../images/product-12.jpg" alt="product" />
          </a>
          <h3>Red Printed T-Shirt</h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span>$43</span>
        </div>
        <!-- Products -->

        <div class="next">
          <div class="box">1</div>
          <div class="box">2</div>
          <div class="box">3</div>
          <div class="box">4</div>
          <div class="box">5</div>
          <div class="box">→</div>
        </div>
      </div>
    </div>
    <!-- End Featured Products -->

    <!-- Start  Footer  -->
    <footer>
      <div class="container">
        <div class="col-1">
          <h4>Download our App</h4>
          <p>Lorem ipsum dolor sit amet.</p>
          <div class="market">
            <a href="#">
              <img src="../images/play-store.png" alt="play-store"
            /></a>
            <a href="#">
              <img src="../images/app-store.png" alt="app-store"
            /></a>
          </div>
        </div>

        <div class="col-2">
          <img src="../images/logo-white.png" alt="logo" />
          <p>
            Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum
            dolor sit amet .
          </p>
        </div>

        <div class="col-3">
          <ul>
            <li>Useful Links</li>
            <li><a href="#">Coupons</a></li>
            <li><a href="#">Blog Post</a></li>
            <li><a href="#">Return Policy</a></li>
            <li><a href="#">Join Affiliate</a></li>
          </ul>
        </div>

        <div class="col-4">
          <ul>
            <li>Follow Us</li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">YouTube</a></li>
            <li><a href="#">FaceBook</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
      <span> Copyright 2022 - Mohamed Magdy </span>
    </footer>
    <!-- End  Footer  -->
  </body>
</html>
