<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font Icons -->
    <link rel="stylesheet" href="../css/all.min.css" />
    <!-- Normalize File  -->
    <link rel="stylesheet" href="../css/normalize.css" />
    <!-- Css Master File -->
    <link rel="stylesheet" href="../css/master.css" />
    <!-- Css Product File -->
    <link rel="stylesheet" href="../css/product.css" />
    <title>Products</title>
  </head>
  <body>
    <!-- Start header -->
    <header>
      <div class="container">
        <a href="../index.html">
          <img src="../images/logo.png" alt="Logo" class="logo" />
        </a>
        <nav>
          <ul>
            <li><a href="#Home">Home</a></li>
            <li><a href="page-1.html">Products</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Contact">Contact</a></li>
            <li><a href="#Account">Account</a></li>
            <li>
              <a href="#"><img src="../images/cart.png" alt="" /></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- End header -->

    <!-- Start Product -->
    <div class="products">
      <div class="container">
        <!-- Info  -->
        <div class="info">
          <div class="Left">
            <div class="bg-img">
              <img src="../images/gallery-1.jpg" alt="" />
            </div>
            <div class="small-imgs">
              <img src="../images/gallery-1.jpg" alt="" />
              <img src="../images/gallery-2.jpg" alt="" />
              <img src="../images/gallery-3.jpg" alt="" />
              <img src="../images/gallery-4.jpg" alt="" />
            </div>
          </div>

          <div class="right">
            <span>Home / T-Shirt</span>
            <h3>Red Printed T-Shirt By MoX.</h3>
            <span>50$</span>
            <select>
              <option>Default Size</option>
              <option>Small</option>
              <option>Medium</option>
              <option>Large</option>
              <option>Huge</option>
            </select>
            <div class="count">
              <input type="number" placeholder="1"/>
              <a href="#" class="custem">Add To Card</a>
            </div>
            <h4>Product Details</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi
              nobis atque ut, blanditiis accusamus commodi. Cum et porro ducimus
              tempore officia odio, fuga temporibus.
            </p>
          </div>
        </div>
        <!-- Info  -->
      </div>
    </div>
    <!-- End Product -->

    <!-- Start Featured Products -->
    <div class="Featured-Products">
      <div class="head">
        <span>Related Products</span>
        <a href="../pages/page-1.html">View More</a>
      </div>
      <div class="container">
        <!-- Products -->
        <div class="card">
          <a href="#">
            <img src="../images/product-9.jpg" alt="product" />
          </a>
          <h3>Red Printed T-Shirt</h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span>$43</span>
        </div>
        <div class="card">
          <a href="#">
            <img src="../images/product-10.jpg" alt="product" />
          </a>
          <h3>Red Printed T-Shirt</h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span>$43</span>
        </div>
        <div class="card">
          <a href="#">
            <img src="../images/product-11.jpg" alt="product" />
          </a>
          <h3>Red Printed T-Shirt</h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span>$43</span>
        </div>
        <div class="card">
          <a href="#">
            <img src="../images/product-12.jpg" alt="product" />
          </a>
          <h3>Red Printed T-Shirt</h3>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span>$43</span>
        </div>
        <!-- Products -->
      </div>
    </div>
    <!-- End Featured Products -->

    <!-- Start  Footer  -->
    <footer>
      <div class="container">
        <div class="col-1">
          <h4>Download our App</h4>
          <p>Lorem ipsum dolor sit amet.</p>
          <div class="market">
            <a href="#">
              <img src="../images/play-store.png" alt="play-store"
            /></a>
            <a href="#">
              <img src="../images/app-store.png" alt="app-store"
            /></a>
          </div>
        </div>

        <div class="col-2">
          <img src="../images/logo-white.png" alt="logo" />
          <p>
            Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum
            dolor sit amet .
          </p>
        </div>

        <div class="col-3">
          <ul>
            <li>Useful Links</li>
            <li><a href="#">Coupons</a></li>
            <li><a href="#">Blog Post</a></li>
            <li><a href="#">Return Policy</a></li>
            <li><a href="#">Join Affiliate</a></li>
          </ul>
        </div>

        <div class="col-4">
          <ul>
            <li>Follow Us</li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">YouTube</a></li>
            <li><a href="#">FaceBook</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
      </div>
      <span> Copyright 2022 - Mohamed Magdy </span>
    </footer>
    <!-- End  Footer  -->
  </body>
</html>
