<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/pages.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="left-section flex-center">
          <img src="../images/menu.png" class="menu" alt="menu" />
          <a href="../index.html">
            <img src="../images/logo.png" class="logo" alt="logo" />
          </a>
        </div>
        <div class="mid-section flex-center">
          <img src="../images/search.png" alt="search" />
          <input type="text" placeholder="search" />
          <img src="../images/voice-search.png" alt="voice-search" />
        </div>
        <div class="right-section flex-center">
          <img src="../images/upload.png" alt="upload" />
          <img src="../images/more.png" alt="voice-search" />
          <img src="../images/notification.png" alt="voice-search" />
          <img src="../images/profile.jpg" class="profile" alt="profile" />
        </div>
      </div>
    </header>

    <div class="content">
      <div class="container">
        <div class="left-section">
          <div class="video">
            <video autoplay controls>
              <source src="../video/فيديو كليب عزرائيل ابيوسف.mp4" />
            </video>
          </div>

          <div class="title">
            <div class="head-title">
              <span>#Rap #Sound #Rab Sen</span>
              <h3>فيديو كليب عزرائيل ابيوسف</h3>
            </div>
            <div class="info">
              <p>1 M Veiws . 2 days ago</p>
              <div class="active-btn">
                <img src="../images/like.png" alt="like" /> <span>999</span>
                <img src="../images/dislike.png" alt="dislike" />
                <span>5</span> <img src="../images/share.png" alt="share" />
                <span>Share</span> <img src="../images/save.png" alt="save" />
                <span>Save</span>
              </div>
            </div>
          </div>

          <div class="chanal">
            <div class="chanal-info">
              <div class="left">
                <img src="../images/ay.jpg" alt="Abyusif I أبيوسف" />
                <div class="content">
                  <h4>
                    Abyusif I أبيوسف
                    <br />
                    <span>10M Subscribe </span>
                  </h4>
                </div>
              </div>

              <div class="right">
                <a href="#">Subscribe</a>
              </div>
            </div>

            <div class="discription">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Doloribus temporibus perspiciatis illum ut soluta ratione
                nostrum voluptatem vero optio magni animi, laboriosam natus
                voluptate odio deserunt dolor accusantium doloremque harum.
              </p>
            </div>

            <div class="comments">
              <h4>103 Comments</h4>

              <div class="write-comment">
                <img src="../images/ay.jpg" alt="Abyusif I أبيوسف" />
                <input type="text" placeholder="Write Comments..." />
              </div>

              <!-- Comments Here -->

              <div class="comment">
                <img src="../images/ay.jpg" alt="Abyusif I أبيوسف" />
                <div class="content">
                  <h3>Abo El Anwar <span> 1 day ago</span></h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ullam cum quasi, consequuntur ratione voluptate, fugiat
                    praesentium, delectus sint at saepe ipsam repellat
                  </p>
                  <div class="active-btn">
                    <img src="../images/like.png" alt="like" /><span>900</span>
                    <img src="../images/dislike.png" alt="dislike" /><span
                      >1</span
                    >
                    <span>REPLY</span>
                    <span class="active">ALL replies</span>
                  </div>
                </div>
              </div>

              <!-- Comments Here -->
            </div>
          </div>
        </div>

        <div class="right-side">
          <!-- Wegz -->
          <div class="card">
            <a href="pages/page1.html">
              <img src="../images/1.jpg" alt="1" />
            </a>
            <div class="content">
              <div class="info">
                <a href="pages/page1.html">
                  <h4>Wegz - ElBakht | ويجز - البخت (Audio) prod. Rahal</h4>
                </a>
                <span>Wegz ويجز</span>
                <p>1 M Veiws . 2 days ago</p>
              </div>
            </div>
          </div>
          <div class="card">
            <a href="pages/page2.html">
              <img src="../images/2.jpg" alt="2" />
            </a>
            <div class="content">
              <div class="info">
                <a href="pages/page2.html">
                  <h4>
                    Wegz - 21 - ويجز - واحد وعشرين (Official music Video)
                    prod.L5vav
                  </h4>
                </a>
                <span>Wegz ويجز</span>
                <p>1 M Veiws . 2 days ago</p>
              </div>
            </div>
          </div>
          <div class="card">
            <a href="pages/page3.html">
              <img src="../images/3.jpg" alt="3" />
            </a>
            <div class="content">
              <div class="info">
                <a href="pages/page1.html">
                  <h4>
                    Wegz x Molotof - Dorak Gai (Official Music Video) - ويجز -
                    دورك جي مع مولوتوف
                  </h4>
                </a>
                <span>Wegz ويجز</span>
                <p>1 M Veiws . 2 days ago</p>
              </div>
            </div>
          </div>
          <!-- Wegz -->

          <!-- Abo El Anwar  -->
          <div class="card">
            <a href="pages/page4.html">
              <img src="../images/4.jpg" alt="4" />
            </a>
            <div class="content">
              <div class="info">
                <a href="pages/page4.html">
                  <h4>
                    Abo El Anwar X Lil Baba - Mmmm Mmmm - ليل بابا - مممم مممم X
                    أبو الأنوار (Official Music Video)
                  </h4>
                </a>
                <span>Abo El Anwar</span>
                <p>1 M Veiws . 2 days ago</p>
              </div>
            </div>
          </div>

          <div class="card">
            <a href="pages/page5.html">
              <img src="../images/5.jpg" alt="5" />
            </a>
            <div class="content">
              <div class="info">
                <a href="pages/page5.html">
                  <h4>
                    Abo El Anwar X Lil Baba - MSH HA7EL - ليل بابا مش هحل X أبو
                    الأنوار (Official Music Video)
                  </h4>
                </a>
                <span>Abo El Anwar</span>
                <p>1 M Veiws . 2 days ago</p>
              </div>
            </div>
          </div>

          <div class="card">
            <a href="pages/page6.html">
              <img src="../images/6.jpg" alt="6" />
            </a>
            <div class="content">
              <div class="info">
                <a href="pages/page6.html">
                  <h4>
                    Abo EL Anwar X Lil Baba - Khalsana (Official Music Video) -
                    ابو الانوار و ليل بابا - خلصانة
                  </h4>
                </a>
                <span>Abo El Anwar</span>
                <p>1 M Veiws . 2 days ago</p>
              </div>
            </div>
          </div>

          <div class="card">
            <a href="pages/page7.html">
              <img src="../images/7.jpg" alt="7" />
            </a>
            <div class="content">
              <div class="info">
                <a href="pages/page7.html">
                  <h4>
                    Abo El Anwar - Ghalba- ابو الانوار - غلبة (OFFICIAL AUDIO)
                    (PROD.LIL BABA)
                  </h4>
                </a>
                <span>Abo El Anwar</span>
                <p>1 M Veiws . 2 days ago</p>
              </div>
            </div>
          </div>
          <!-- Abo El Anwar  -->
          <!-- Abyusif I أبيوسف -->

          <div class="card">
            <a href="pages/page8.html">
              <img src="../images/8.jpg" alt="8" />
            </a>
            <div class="content">
              <div class="info">
                <a href="pages/page8.html">
                  <h4>Abyusif - Feha Lakhfeha ابيوسف - فيها لاخفيها</h4>
                </a>
                <span>Abyusif I أبيوسف</span>
                <p>1 M Veiws . 2 days ago</p>
              </div>
            </div>
          </div>

          <div class="card">
            <a href="pages/page9.html">
              <img src="../images/9.jpg" alt="9" />
            </a>
            <div class="content">
              <div class="info">
                <a href="pages/page9.html">
                  <h4>Abyusif - Wasa3 أبيوسف - وسع</h4>
                </a>
                <span>Abyusif I أبيوسف</span>
                <p>1 M Veiws . 2 days ago</p>
              </div>
            </div>
          </div>

          <div class="card">
            <a href="pages/page10.html">
              <img src="../images/10.jpg" alt="10" />
            </a>
            <div class="content">
              <div class="info">
                <a href="pages/page10.html">
                  <h4>Abyusif - Tag ابيوسف - تاج</h4>
                </a>
                <span>Abyusif I أبيوسف</span>
                <p>1 M Veiws . 2 days ago</p>
              </div>
            </div>
          </div>

          <div class="card">
            <a href="pages/page11.html">
              <img src="../images/11.jpg" alt="11" />
            </a>
            <div class="content">
              <div class="info">
                <a href="pages/page11.html">
                  <h4>فيديو كليب عزرائيل ابيوسف</h4>
                </a>
                <span>Abyusif I أبيوسف</span>
                <p>1 M Veiws . 2 days ago</p>
              </div>
            </div>
          </div>

          <div class="card">
            <a href="pages/page12.html">
              <img src="../images/12.jpg" alt="12" />
            </a>
            <div class="content">
              <div class="info">
                <a href="pages/page12.html">
                  <h4>
                    Abyusif - MAMLAKA ft. Perrie (Dir. Mohsen Sherif) أبيوسف -
                    مملكة مع بيري
                  </h4>
                </a>
                <span>Abyusif I أبيوسف</span>
                <p>1 M Veiws . 2 days ago</p>
              </div>
            </div>
          </div>

          <!-- Abyusif I أبيوسف -->
        </div>
      </div>
    </div>
  </body>
</html>
