<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="speedEnternet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/master.css" />
    <title>speedEnternet</title>
  </head>
  <body>
    <!-- Start Header -->
    <header>
      <div class="container">
        <span class="logo">Logo</span>
        <i class="fas fa-bars toggle-menu"></i>
        <nav>
          <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">who we are</a></li>
            <li><a href="#">our services</a></li>
            <li><a href="#">speedTest</a></li>
            <li><a href="#">writeups</a></li>
            <li><a href="#">partner with us</a></li>
            <li><i class="fas fa-search"></i></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- End Header -->

    <!-- Start Landing -->
    <div class="landing">
      <div class="arrow">
        <i class="fas fa-angle-double-down fa-2x"> </i>
      </div>
      <div class="container">
        <div class="content">
          <h1>high speed internet</h1>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s,
          </p>
        </div>
        <div class="img">
          <img src="img/landing.png" alt="landing" />
        </div>
      </div>
    </div>
    <!-- End Landing -->

    <!-- Start Our Services -->
    <div class="services">
      <h3 class="heading">Our Services</h3>
      <div class="container">
        <div class="box">
          <img src="img/box.png" alt="box" />
          <h4>Reduced Cost</h4>
          <p>
            Our unique wireless technology can provide substantial cost benefits
            when compared
          </p>
          <a href="#">read more</a>
        </div>
        <div class="box">
          <img src="img/box.png" alt="box" />
          <h4>Reduced Cost</h4>
          <p>
            Our unique wireless technology can provide substantial cost benefits
            when compared
          </p>
          <a href="#">read more</a>
        </div>
        <div class="box">
          <img src="img/box.png" alt="box" />
          <h4>Reduced Cost</h4>
          <p>
            Our unique wireless technology can provide substantial cost benefits
            when compared
          </p>
          <a href="#">read more</a>
        </div>
        <div class="box">
          <img src="img/box.png" alt="box" />
          <h4>Reduced Cost</h4>
          <p>
            Our unique wireless technology can provide substantial cost benefits
            when compared
          </p>
          <a href="#">read more</a>
        </div>
      </div>
      <div class="info">
        <div class="circl"></div>
        <img src="img/Broadband.png" alt="Broadband" />
        <p>100Mbps Broadband</p>
      </div>
    </div>
    <!-- End Our Services -->

    <!-- Start More Info -->
    <div class="m-info">
      <div class="container">
        <div class="left">
          <i class="fas fa-wifi"></i>

          <p>
            Our unique wireless technology can provide substantial cost benefits
            when comparedOur unique wireless technology can provide substantial
            cost benefits when compared
          </p>
          <p>
            Our unique wireless technology can provide substantial cost benefits
            when compared
            <br />
            <a href="#">Read More</a>
          </p>
        </div>
        <div class="right">
          <img src="img/info.png" alt="info" />
          <span>99%Uptime</span>
          <span>Easy Control Panel</span>
          <span>High Speed</span>
          <span class="A">High Uploading</span>
          <span>24/7 Support</span>
        </div>
      </div>
    </div>
    <!-- End More Info -->

    <!-- Start Plan -->
    <div class="plan">
      <div class="head">
        <h3>Choose Your Plan</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's<br />
          standard dummy text ever since the 1500s,
        </p>
      </div>
      <div class="container">
        <div class="box">
          <img src="img/plan.png" alt="plan" />
          <h4>Custom Plan</h4>
          <p>Premium frameworks to provide high level results.</p>
          <a href="#">git it now</a>
          <a href="#">learn more</a>
        </div>
        <div class="box">
          <img src="img/plan.png" alt="plan" />
          <h4>Billing Plan</h4>
          <p>Premium frameworks to provide high level results.</p>
          <a href="#">git it now</a>
          <a href="#">learn more</a>
        </div>
      </div>
    </div>
    <!-- End Plan -->
    <!-- /* Start Our Promises */ -->
    <div class="promises">
      <h3 class="heading">Our Promises</h3>
      <div class="container">
        <div class="box">
          <img src="img/SemanticWeb.png" alt="SemanticWeb" />
          <h4>No FUP, No data limits</h4>
          <p>
            Our unique wireless technology can provide substantial cost benefits
            when comparedOur unique wireless technology can provide substantial
            cost benefits when compared
          </p>
        </div>
        <div class="box">
          <img src="img/SmartHome.png" alt="SmartHome" />
          <h4>Unlimited for a single household</h4>
          <p>
            Our unique wireless technology can provide substantial cost benefits
            when comparedOur unique wireless technology can provide substantial
            cost benefits when compared
          </p>
        </div>
        <div class="box">
          <img src="img/box.png" alt="SemanticWeb" />
          <h4>No hidden charges</h4>
          <p>
            Our unique wireless technology can provide substantial cost benefits
            when comparedOur unique wireless technology can provide substantial
            cost benefits when compared
          </p>
        </div>
      </div>
    </div>
    <!-- /* Start Our Promises */ -->

    <!-- Start clients  -->
    <div class="clients">
      <h3 class="heading">What our clients say</h3>
      <div class="container">
        <i class="fas fa-angle-left left fa-2x"></i>
        <i class="fas fa-angle-right right fa-2x"></i>
        <div class="box">
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p>
            It's very easy to create stylish and beautiful prototypes for your
            future projects, both graphical and dynamic.
          </p>
          <span>Amazon</span>
        </div>
        <div class="box">
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <p>
            It's very easy to create stylish and beautiful prototypes for your
            future projects, both graphical and dynamic.
          </p>
          <span>Amazon</span>
        </div>
      </div>
    </div>
    <!-- End clients  -->

    <!-- Start Footer -->
    <footer>
      <div class="container">
        <div class="col">Logo</div>
        <div class="col">
          <h3>Contact</h3>
          <ul>
            <li>abc #239, xyz</li>
            <li>Peermuchalla. Zirakpur, Mohali</li>
            <li>Telephone: +91 99999-88888</li>
            <li>E-mail: hr@info.in</li>
          </ul>
        </div>
        <div class="col">
          <h3>Menu</h3>
          <ul>
            <li><a href="#">about us</a></li>
            <li><a href="#">services</a></li>
            <li><a href="#">our blog</a></li>
            <li><a href="#">contact us</a></li>
          </ul>
        </div>
        <div class="col">
          <h3>follow us</h3>
          <div class="social-icons">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fas fa-home"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
  </body>
</html>
